<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title>Add Payment Card Direct</title>
<%= stylesheet_link_tag "style"%>
</head>
<script type="text/javascript">
function PrePopulate()
{
	document.getElementById('email').value = "platfo@paypal.com";
	document.getElementById('firstName').value = "Jhon";
	document.getElementById('lastName').value = "Deo";
document.getElementById('cardVerificationNumber').value = "956";
	document.getElementById('address1').value = "1 Main St";
	document.getElementById('address2').value = "2nd cross";
	document.getElementById('city').value = "Austin";
	document.getElementById('zipCode').value = "78750";
	document.getElementById('country').value = "US";


}
</script>

<body>
        <div id="jive-wrapper">
            <div id="jive-header">
                <div id="logo">
                    <span style="float: right; height: 30px;">Login to <a href="https://developer.paypal.com">PayPal sandbox</a></span>
                    <a title="Paypal X Home" href="#" id="web_pageheader_anchor_index"><%= image_tag 'paypal_x_logo.gif', :alt => 'Paypal X',:border=>'0', :height=>'28' %></a>
                </div>
            </div><h1>&nbsp;</h1>
        </div>
<%= render :partial => "layouts/menu" %>

<div id="request_form">


<center>
	<h3><b> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  Add Payment Card Direct</b></h3>
	<a onclick="PrePopulate()"><span>Populate default values</span></a>
</center>
<br/>
<%= javascript_include_tag "creditcard.js" %>
  
<%=  form_tag(addcardDirect_path, :method=>'post', :multipart => true, :id =>'AddPaymentCardDirectForm', :name => 'AddPaymentCardDirectForm') do %>
<table  align="center">
	<tr>
 		<td> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   <label for="email">email Id:</label></td>
		<td><%= text_field_tag( "email", value = '',:size => 50, :maxlength => 80) %> </td>
	</tr>
	<tr>
		<td> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   <label for="creditCardType">Card Type:</label></td>
		<td> <%= select_tag("creditCardType", options_for_select(["Visa","MasterCard", "Discover", "Amex"],"Visa"),{:onChange => 'generateCC(this.form)'} )%></td>
      </tr>

	<tr>
		<td> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   <label for="creditCardNumber">Card Number:</label></td>
		<td><%=text_field_tag("creditCardNumber" ,'', {:size => 19, :maxlength => 19,:value=>'4623226975828898'})%></td>
	</tr>
	<tr>
		<td> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   <label for="firstName">First Name:</label></td>
		<td><%= text_field_tag( "firstName", value = '',:size => 30, :maxlength => 32) %> </td>
	</tr>
	<tr>
		<td> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   <label for="lastName">Last Name:</label></td>
		<td><%= text_field_tag( "lastName", value = '',:size => 30, :maxlength => 32) %> </td>
	</tr>

	<tr>
		<td> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   <label for="ExpirationDate">Expiration Date:</label></td>
		<td><%=month_select_for(:addPaymentCardDirect) %>  <%=year_select_for(:addPaymentCardDirect) %> </td>
	</tr>
	<tr>
		<td> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   <label for="cardVerificationNumber">Card Verification Num:</label></td>
		<td><%= text_field_tag( "cardVerificationNumber", value = '',:size => 30, :maxlength => 32) %> </td>
	</tr>
	<tr>
		<td> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   confirmationType:</td><td><%=confirmation_type_direct(:addPaymentCardDirect) %></td>
	</tr>
	<tr>
 		<td> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   <label for="CreateAccountKey">Create Account Key:</label></td>
		<td><%= text_field_tag( "CreateAccountKey", value = '',:size => 50, :maxlength => 80) %> </td>
	</tr>
	<tr>
		<td colspan="2"> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   Billing Address</td>
	</tr>
	<tr>
 		<td> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   <label for="address1">Address 1:</label></td>
		<td><%= text_field_tag( "address1", value = '',:size => 50, :maxlength => 80) %> </td>
	</tr>
	<tr>
 		<td> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   <label for="address2">Address 2:</label></td>
		<td><%= text_field_tag( "address2", value = '',:size => 50, :maxlength => 80) %> </td>
	</tr>
	<tr>
 		<td> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   <label for="city">City:</label></td>
		<td><%= text_field_tag( "city", value = '',:size => 50, :maxlength => 80) %> </td>
	</tr>
	<tr>
 		<td> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   State:</td><td><%=state_select_for(:addPaymentCardDirect) %></td>

	</tr>
	<tr>
 		<td> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   <label for="zipCode">Zip Code:</label></td>
		<td><%= text_field_tag( "zipCode", value = '',:size => 50, :maxlength => 80) %>(5 or 9 digits)</td>
	</tr>
	<tr>
 		<td> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   <label for="country">Country:</label></td>
		<td><%= text_field_tag( "country", value = '',:size => 50, :maxlength => 80) %> </td>
	</tr>
	</table>
<table align="center">
	<tr>
      	<td align="center">
<a class="pop-button primary" onclick="AddPaymentCardDirectForm.submit();" id="Submit"><span>Submit</span></a>
</td>
	</tr>

	
</table>
</div>
</body>
</html>
<%end%>


