<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title>Pay Chained</title>
<%= stylesheet_link_tag "style"%>
<%= javascript_include_tag 'ToolTip' %>
</head>
<script type="text/javascript">
function PrePopulate()
{
	document.getElementById('email').value = "platfo_1255077030_biz@gmail.com";
	document.getElementById('memo').value = "chained";
	document.getElementById('feesPayer').value = "EACHRECEIVER";
	document.getElementById('receiveremail_0').value="platfo_1255612361_per@gmail.com";
	document.getElementById('amount_0').value = "1.00";
	document.getElementById('primary_0').value="false";
	document.getElementById('receiveremail_1').value="platfo_1255611349_biz@gmail.com";
	document.getElementById('amount_1').value = "1.00";
	document.getElementById('primary_1').value="true";

	
}
</script>

<body>
        <div id="jive-wrapper">
            <div id="jive-header">
                <div id="logo">
                    <span style="float: right; height: 30px;">Login to <a href="https://developer.paypal.com">PayPal sandbox</a></span>
                    <a title="Paypal X Home" href="#" id="web_pageheader_anchor_index"><%= image_tag 'paypal_x_logo.gif', :alt => 'Paypal X',:border=>'0', :height=>'28' %></a>
                </div>
            </div><h1>&nbsp;</h1>
        </div>
<%= render :partial => "layouts/menu" %>

<div id="request_form">

				<center>
					<h3><b> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; Adaptive Payments - Pay Chained </b></h3>
					<a onclick="PrePopulate()"><span>Populate default values</span></a>
				</center>
				<br/>
<%= form_tag(setpaychained_path, :method=>'post', :multipart => true, :id => 'Form1', :name => 'Form1') do %>
 <table  align="center">
	<tr>
 		<td align="left"> <label for="email">Sender's Email:</label></td>
		<td><%= text_field_tag( "email", value = '',:size => 75) %> </td>
	</tr>
	<tr>
 		<td align="left"><label for="memo">Memo:</label></td>
		<td><%= text_field_tag( "memo", value = '',:size => 75) %> </td>
	</tr>
	<tr>
 		<td align="left"><label for="feesPayer">Fees Payer:</label></td>
		<td><%= text_field_tag( "feesPayer", value = '',:size => 75) %> </td>
	</tr>
	<tr>
 		<td align="left">Currency Code:</td>
            <td><%=currency_select_for(:setpaychained) %></td>
	</tr>

	<tr>
 		<td colspan="3"><p align="center"><b>Pay Details</b></p></td>
	</tr> 
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="payee">Payee</label></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="receiveremail_0">ReceiverEmail (Required):</label></td>
		<td><label for="amount[0]">Amount (Required):</label></td>
		<td><label for="primaryReceiver_0">Primay Receiver(Required):</label></td>
	</tr>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1</td>
		<td><%= text_field_tag( "receiveremail_0", value = '',:size => 75 ) %> </td>
		<td><%= text_field_tag( "amount_0", value = '',:size => 5 ) %> </td>
		<td><%= text_field_tag( "primary_0", value = '',:size => 5 ) %> </td>
	</tr>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2</td>
		<td><%= text_field_tag( "receiveremail_1", value = '',:size => 75) %> </td>
		<td><%= text_field_tag( "amount_1", value = '',:size => 5 ) %> </td>
		<td><%= text_field_tag( "primary_1", value = '',:size => 5 ) %> </td>
	</tr> 
	<tr>
<td></td>
		<td colspan="3">NOTE: Chained payment requires one primary receiver, Please set one primary receiver to true</td>
	</tr> 
	<tr>
	</tr>
</table>
<table align="center">
	<tr>
		<td align="center">
      	 <a class="pop-button primary" onclick="Form1.submit();" id="Submit"><span>Submit</span></a>
		</td>
	</tr>
	
</table>
</div>
</body>
</html>
<% end %>



